{% extends 'base.html' %}
{% block content %}
    <h1>User Details for {{user.username}}</h1>
    <p><b>ID: </b>{{user.id}}</p>
    <p><b>Email: </b>{{user.email}}</p>
    <p><b>First Name: </b>{{user.first_name}}</p>
    <p><b>Last Name: </b>{{user.last_name}}</p>

    {% for feedback in feedback_list %}
        <b>Title: </b><a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a>
        <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
            <button class="btn btn-sm btn-danger">X</button>
        </form>
        <p><b>Content: </b>{{feedback.content}}</p>
    {% endfor %}
    <a class="btn btn-md btn-info" href="/users/{{user.username}}/feedback/add">Create Post</a>
    <form action="/users/{{user.username}}/delete" method="POST">
        <button class="btn btn-md btn-danger">Delete User</button>
    </form>
{% endblock %}